html,
body {
  margin: 0;
  padding: 0;
}
.container {
  overflow: hidden;
  width: 1100px;
}
.container .video-player {
  display: block;
  width: 900px;
  margin: 0 auto;
}
.container .video-info {
  width: 900px;
  margin: 0 auto;
}
.container .video-info .logo {
  display: inline-block;
}
.container .video-info .logo img {
  max-width: 150px;
}
.container .video-info .exercise-info {
  display: inline-block;
  vertical-align: top;
  background: #eee;
  width: 50%;
}
.container .video-info .exercise-info .info-top {
  height: 35px;
}
.container .video-info .exercise-info .info-top .current-exercise,
.container .video-info .exercise-info .info-top .next-exercise {
  display: inline-block;
  width: 45%;
}
.container .video-info .exercise-info .info-bottom {
  height: 35px;
}
.container .video-info .exercise-info .info-bottom .mod-up,
.container .video-info .exercise-info .info-bottom .mod-down {
  display: inline-block;
  width: 45%;
}
.container .video-info .exercise-tracker {
  position: relative;
  display: inline-block;
  height: 72px;
  width: 240px;
  z-index: 10;
  overflow: hidden;
}
.container .video-info .exercise-tracker .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../assets/exercise-tracker.png') no-repeat;
  background-size: contain;
  z-index: 9;
}
.container .video-info .exercise-tracker .fill {
  position: absolute;
  background: #4db848;
  width: 0%;
  max-width: 195px;
  height: 100%;
  padding-left: 43px;
}
.progress-fill {
  position: absolute;
  background: #4db848;
  width: 0%;
  height: 20px;
}
video {
  max-width: 100%;
}
.container .progress-bar {
  display: block;
  width: 900px;
  height: 20px;
  background: #ddd;
  margin: 0 auto;
}
.container .progress-bar .current-progress {
  height: 20px;
  width: 100%;
}
.container .progress-time {
  display: block;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}
